.article {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 2px 5px #0e0b0b59;    
    }

.article__header {
    color: #ff0000;
    font-size: 40px;
    padding-left: 20px;
}
    
.article__subHeader {
    font-size: 30px;
    padding-top: 10px;
    padding-left: 20px;
    color: #000000;
    border: 1px;
    border-style: solid;
    border-color: #000000;
    box-shadow: 5px 8px 5px 0px #171C1B;   
}

.article__box {
    color:#ff9100;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #003f03;
    box-shadow: 5px 8px 5px 0px #171C1B; 
}
    
.article__boxImage {
    max-width: 450px;
    border: 2px;
    border-style: double;
    border-color: #000000;
    border-radius: 5%;
    box-shadow: 5px 8px 5px 0px #171C1B;
}
       
.article__boxSubHeader {
    font-size: 30px;
}

.article__boxParagraph{
    padding-bottom: 10px;
}

.article__listItem {
    margin: 7px 0;
}

.article__list {
    margin: 20px 0;
    padding-left: 40px;
}

.article__unorderedList{
    list-style-type: "🔥";

}

.article__webTableChangeAll {
    color:#b0eebb; 
    background-color: #222;
}

.article__webTableChange {
    color:#b0eebb; 
    background-color: #222;
    border: 1px;
    border-style: solid;
    border-color: #b0eebb;    
}

.article__webTableChangeBox {
    color:#b0eebb; 
    background-color: #2e2e2e;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2%;
    border: 1px;
    border-style: solid;
    border-color: #b0eebb;    
}

.article__webTableChangeSub {
    color:#b0eebb; 
    background-color: #2e2e2e;
    padding-left: 20px;
}

.article__tableContainer{
    overflow-x: auto;
}

.article__table {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 2px 5px #0e0b0b59;
    border-collapse: collapse;
    width: 100%;
}

.article__tableCell {
    background: #0070da;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    }

.article__tableCellDark {
    background: #2e2e2e;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.article__caption {
    caption-side: bottom;
    text-align: right;
    margin-top: 10px;
} 

.article__tableHeader {
    background-color: #003f03;
    color: white;
    font-weight: normal;
}

.article__tableHeaderDark {
    background-color: #001601;
    color: #b0eebb;
    font-weight: normal;
}