.aside {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 2px 5px #0e0b0b59;
}
    
.aside__paragraph {
    font-size: 30px;
    padding-top: 10px;
    padding-left: 20px;
    color: #000000;
    border: 1px;
    border-style: solid;
    border-color: #000000;
    box-shadow: 5px 8px 5px 0px #171C1B;   
}

.aside--dark {
    color:#b0eebb; 
    background-color: #222;
    border: 1px;
    border-style: solid;
    border-color: #b0eebb;
   
}