html {
    box-sizing: border-box;
}

*, ::after, ::before {
    
    box-sizing: initial;
}

.body {
    color:#030303; 
    background-color: #f0da15;
    max-width: 900px;
    margin: 0 auto;
}

.body--dark {
    color:#b0eebb; 
    background-color: #222;
}
